.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.arrow {
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-left: 15px;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


   .arrow-right {
      width: 60px;
      height: 60px;
      background-color: #3498db;
      position: relative;
      margin: 15px;
      display: flex;
      flex-grow: 0;
      justify-content: center;
      align-items: center;
    }

    .arrow-right::after {
      content: '';
      position: absolute;
      top: 0;
      right: -30px;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid #3498db;
    }

    .arrow-right-start {
     width: 90px;
      height: 60px;
      background-color: #3498db;
      position: relative;
      margin-left: -15px;
      margin-right: 15px;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }




     .arrow-left {
      width: 60px;
      height: 60px;
      background-color: #2ecc71;
      position: relative;
      margin: 15px;
      display: flex;
      flex-grow: 0;
      justify-content: center;
      align-items: center;
    }

    .arrow-left::before {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 30px solid #2ecc71;
    }

    .arrow-left-start {
      width: 90px;
      height: 60px;
      background-color: #2ecc71;
      position: relative;
      margin-right: -15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
