@for(l of link()!.outgoingLabels; track l.linkDefinition.iri) {
<div>{{l.label}}</div>
<div>
    Path:
    @for(pathElement of l.linkDefinition.propertyPathFragments; track pathElement) {
    <span>{{pathElement | rdfPrefix}}</span>
    @if(!$last) {
    <span>/</span>
    }

    }
</div>
<div>{{l.linkDefinition.label}}</div>
}
<hr>
@for(l of link()!.incomingLabels; track l.linkDefinition.iri) {
<div>{{l.label}}</div>
Path:
@for(pathElement of l.linkDefinition.propertyPathFragments; track pathElement) {
<span>{{pathElement | rdfPrefix}}</span>
@if(!$last) {
<span>/</span>
}

}
}