<!-- Primary Nav -->
<!-- Mobile nav bar -->
<div class="bp-mobile-nav-bar">
  <bp-mobile-logo-button (click)="openMobileNav($event)" />
</div>
<!-- End Mobile nav bar -->

<nav class="bp-nav-primary bp-scroll-hide" [class.bp-nav-primary--open]="isMobileNavigationOpened()" #e>
  <button type="button" class="bp-close-nav" (click)="closeMobileNav()" aria-label="Close navigation">
    <i class="fas fa-times"></i>
  </button>
  <!-- Top section of primary nav -->
  <a aria-label="Blueprint homepage" routerLink="/" class="brand">
    <!-- Logo Symbol -->
    <bp-brand-logo />
  </a>



  <div class="navigation-items">
    @for(item of navigationItems; track item.label) {
    <bp-nav-menu-item [item]="item" [active]="false" (selected)="onNavigationItemSelected($event)" />
    }
  </div>


  <!-- Bottom section of primary nav -->
  <div class="bottom-items">
    <mat-menu #op="matMenu" class="theme-select" panelClass="theme-select">
      <bp-theme-picker-menu></bp-theme-picker-menu>
    </mat-menu>
    <div [matMenuTriggerFor]="op" tabindex="10">
      @switch (theme()) {
      @case ('light') {
      <i class="fas fa-sun"></i>
      } @case ('dark') {
      <i class="fas fa-moon"></i>
      } @case ('auto') {
      <i class="fas fa-desktop"></i>
      } }

    </div>



  </div>
</nav>