<div class="literal-view">
    <div class="literal">
        <div class="label"> {{ label() }}</div>
        @for(l of value(); track l) {
        @if(isUrl(l.value)) {
        <div style="display: flex; flex-direction: row; gap: 0.5rem; align-items: center;">
            <i class="pi pi-external-link"></i>
            <a class="value" href="{{ l.value }}" target="_blank">
                {{ l.value }}
            </a>
        </div>
        } @else {
        <div class="value">{{ l.value }} @if(l.language){
            <span class="language">{{'@' + l.language}}</span>
            }
        </div>
        }
        }
    </div>
</div>