.node-symbol {
  cursor: pointer;
  stroke-width: 0;
  --transition: fill-opacity 1.2s ease;
  fill-opacity: 1;

  &--selected {
    --stroke-dasharray: none;
    --stroke-opacity: 1;
    fill-opacity: 1;
  }
}

.mouse-event-capture {
  opacity: 1;
  fill: light-dark(rgb(249, 250, 251), rgb(17, 24, 39));
  stroke-opacity: 0;
  stroke-width: 40;
}

.highlight-indicator {
  stroke-width: 3;
  visibility: hidden;
  fill: none;
//  fill:  var(--p-tabs-tab-active-color);;
  stroke: var(--p-tabs-tab-active-color);
  filter: drop-shadow(0 0 8px var(--p-tabs-tab-active-color));
  stroke-opacity: 0.5;
  &--active {
    visibility: visible;
  }
}

.menu-item-container {
  cursor: pointer;

  circle {
    fill: #ddd;
    stroke: none;
  }

  text {
    text-anchor: middle;
    dominant-baseline: central;
    stroke: none;
  }

  &:hover {
    circle {
      fill: #bbb;
    }
  }
}

.node-label {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12pt;
  line-height: 25px;
  color: light-dark(rgb(17, 24, 39), rgb(249, 250, 251));
  fill: light-dark(rgb(17, 24, 39), rgb(249, 250, 251));

  .node-label-type,
  .node-label-icon {
    line-height: 12pt;
    font-size: 10pt;
  }
}

.node-label-bg {
  --background-color: rgba(255, 255, 255, 0.5);
}