<div class="content">

  <div class="search-input">
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText [ngModel]="searchTerm()" (ngModelChange)="onSearchInput($event)" />
    </p-iconfield>
    <span>{{ resultCount() }} Results
    </span>
  </div>

  <div class="result">
    <bp-filter-panel (filtersChange)="onFilterChange($event)" [filterItems]="searchFilterItems$ | async"
      [classCount]="classCount()" />

    <div style="flex-grow: 1; display: flex; flex-direction: column;">

      <bp-search-result-list [searchResult]="searchResult()" [total]="resultCount()" (more)="onMore()"
        (selected)="onItemSelected($event)" />




    </div>
  </div>



</div>