// variable for node width

$node-width: 6.5em;

.panel {
    color: var(--quaternary-contrast);
    background-color: var(--octonary-contrast);
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.title {
    color: light-dark(oklch(54.84% 0.023 304.99deg), oklch(70.9% 0.015 304.04deg));
    margin-bottom: 2em;
    font-size: 1.2em;

    .highlight {
        color: light-dark(oklch(0.53 0.02 303.77deg), oklch(0.92 0.01 305.4deg));
        font-weight: 600;
    }

}

.node-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1em;
}

.node {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $node-width;
    min-width: $node-width;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
   

    .avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        font-size: 1.5em;
        color: var(--primary-contrast);
    }

    .label {
        margin-top: 0.5em;
        max-width: $node-width;
        min-width: $node-width;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

}

.node:hover {
    cursor: pointer;
    background-color: var(--senary-contrast);
}