$title-height: 118px;

:host {
    height: $title-height;
    ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-family: var(--inter-tight-font);
    font-weight: 500;
    text-wrap: balance;
    color: var(--primary-contrast);
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: var(--primary-contrast);
    margin-top: 0;
    margin-bottom: 0;
}

.avatar-list {
    display: flex;
    flex-direction: row;
    align-items: center;

    .avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        margin-left: 0.5em;
        font-size: 1.5em;
    }
}