<div style="display: flex; flex-direction: row; align-items: center; gap: 12px; width: 100%">
    @if(isLoading()) {
    <p-skeleton shape="circle" height="64px" width="64px" class="mr-2"></p-skeleton>

    <div style="display: flex; flex-direction: column; gap: 12px;">
        <p-skeleton height="1rem" width="10rem"  class="mb-2" />
        <p-skeleton height="1rem" width="30rem" class="mb-2" />
    </div>

    }@else {
    <bp-avatar [avatars]="avatars()" @fadeIn />

    <div @fadeIn>
        <p>
            @if (subjectClassLabel().length === 0) {
            &nbsp;
            } @else {
            <span>{{subjectClassLabel()}}</span>
            }
        </p>
        <h1 class="title">{{subjectLabel()}}</h1>
    </div>
    }
    <div style="flex-grow: 1;">

    </div>
    <div>
        <p-toast></p-toast>
        <p-menu #menu [model]="items()" [popup]="true">
            <ng-template pTemplate="item" let-item>
                @if(item.url) {
                <a pRipple [href]="item.url" target="_blank" class="p-menu-item-link" [tabIndex]="item.tabIndex">
                    <span class="p-menuitem-icon" [class]="item.icon"></span>
                    <span class="ml-2"> {{ item.label }}</span>
                </a>
                } @else {
                <a pRipple class="flex align-items-center p-menu-item-link" (click)="item.command"
                    [tabindex]="item.tabindex" (keyup.enter)="item.command">
                    <span class="p-menuitem-icon" [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </a>
                }
            </ng-template>

        </p-menu>
        <p-button icon="pi pi-ellipsis-v" (click)="menu.toggle($event)" [rounded]="true" [outlined]="true"/>
    </div>

</div>