<div class="content">

  <bp-explore-header [isLoading]="loadingIndicatorService.isLoading()" [iri]="subjectIri()"
    [subjectLabel]="currentGraphResource()?.title?? ''" [subjectClassLabel]="currentGraphResource()?.classLabel ?? ''"
    [avatars]="currentGraphResource()?.avatars ?? []" />

  <p-tabs [value]="routeFragment()">
    <p-tablist>
      @for(tab of tabNavItems; track tab.label){
      <p-tab [value]="tab.fragment" routerLinkActive routerLink="./" [fragment]="tab.fragment"
        class="flex items-center !gap-2 text-inherit">
        <i [class]="tab.icon"></i>
        <span>{{ tab.label }}</span>
      </p-tab>
      }
    </p-tablist>
  </p-tabs>




  @if(routeFragment() === 'Information') {
  <div class="subject-view" @fadeIn>


    @if(uiHierarchy.length > 0) {
    @defer (when uiHierarchy.length > 0) {
    <div class="hierarchy-container">
      @for( hierarchy of uiHierarchy; track hierarchy.iri) {
      <bp-ui-hierarchy-view [hierarchyView]="hierarchy" (nodeSelected)="selectByIri($event)" />
      }
    </div>
    }
    }

    <div class="view-container">
      @for(l of literalDetailElements(); track l.ruleIri) {
      <bp-literal [literal]="l"></bp-literal>
      }
      <bp-neighbor-nodes [graph]="bubbleGraph()" [exploredResource]="currentGraphResource()"
        (nodeSelected)="expandNode($event)" @fadeIn />



    </div>
  </div>


  } @else if (routeFragment() === 'Nearby') {
  <bp-neighbor-nodes [graph]="bubbleGraph()" [exploredResource]="currentGraphResource()"
    (nodeSelected)="expandNode($event)" @fadeIn />
  } @else if (routeFragment() === 'Context') {

  <div class="subject-view" @fadeIn>

    @if(uiHierarchy.length > 0) {
    @defer (when uiHierarchy.length > 0) {
    <div class="hierarchy-container">
      @for( hierarchy of uiHierarchy; track hierarchy.iri) {
      <bp-ui-hierarchy-view [hierarchyView]="hierarchy" (nodeSelected)="selectByIri($event)" />
      }
    </div>
    }
    }
    <div class="view-container">

      @defer (when uiView.length > 0) {
      <div class="view-container" @fade>
        @for( view of uiView; track view.iri) {
        <bp-ui-view style="flex-grow: 1" [uiView]="view" (nodeSelected)="selectByIri($event)" />
        }
      </div>
      }
      @for(l of compositionLinks(); track l.iri) {
      <bp-aggregate-relation [label]="l.label" [relation]="l.result" [subject]="thisNodeElement()"
        (nodeSelected)="selectByIri($event)" />

      }
    </div>
  </div>
  }
  <!-- graph view: content is moved away if not shown-->
  <div class="graph" [ngClass]="routeFragment() === 'Graph' ? '' : 'weg'">

    <div class="content-size content-style">
      <p-drawer [(visible)]="visible" [modal]="drawerModal()" position="right">
        <ng-template #header>
          <div class="drawer-header">

            <div style="display: flex; flex-direction: column;">
              <h1 class="drawer-title">{{selectionKind() === 'node' ? 'Subject' : 'Link'}}</h1>

            </div>
            <button pButton icon="pi pi-thumbtack" class="p-button-rounded p-button-text"
              (click)="toggleModalDetailsDrawer()" aria-label="Pin drawer"
              [ngStyle]="pinDetailsPanel() ? {'color': 'red'} : {}"></button>
          </div>
        </ng-template>
        @if(selectionKind() === 'node') {
        @if(currentGraphResource()) {
        <p [pTooltip]="currentGraphResource().iri" class="iri" (click)="copyToClipboard(currentGraphResource().iri)">
          &lt;{{currentGraphResource().iri}}&gt;</p>
        }
        @for(l of literalDetailElements(); track l.ruleIri) {
        <bp-literal [literal]="l"></bp-literal>
        }
        } @else {
        @if(selectedLink()) {
        <bp-link-panel [link]="selectedLink()" />
        }
        }
      </p-drawer>
      <bp-graph (nodeSelected)="onNodeSelected($event)" [selectedNodeId]="selectedNodeIri()"
        [selectedLinkId]="selectedLinkIri()" (nodeExpanded)="expandNode($event)" (nodeFocused)="focusNode($event)"
        [disableNodeMenu]="false" (nodeMore)="showNodeDetails($event)" (linkSelected)="selectLink($event)"
        [disableZoomMenu]="true" [graph]="bubbleGraph()" xOffset="200" yOffset="200" />

    </div>






  </div>
</div>