<bp-breadcrumb-page [breadcrumbs]="breadcrumbs">
    @if(showContentSignal()) {
    <div @fade>


        <h1>Inventory</h1>
        <p>Inventory is a list of all the items that are currently in stock.</p>

        <h2>Hierarchy Inventories</h2>

        <div class="grid-container">
            @for(hierarchy of hierarchySignal(); track hierarchy.iri) {
            <a [routerLink]="['hierarchy', hierarchy.iri,]">
                <bp-hierarchy-card [firstLine]="hierarchy.label" [secondLine]="hierarchy.description"
                    [pTooltip]="hierarchy.contentLabels.join(', ')" tooltipPosition="bottom" tooltip
                    [avatars]="hierarchy.avatars" [showDelay]="800" />

            </a>
            }

        </div>
    </div>
    }
</bp-breadcrumb-page>