@if(nodeList().isOutgoing) {
<div style="display: flex; flex-direction: row; align-items: center; gap:0.4em; padding-left: 4px">
    @if(!nodeList().link.label) {
    <bp-avatar [avatars]="exploredResource().avatars" [selected]="true" size="normal"></bp-avatar>
    <span style="font-size: 1rem; align-self: center;">&#8213;</span>

    }

    <div class="label"><span [pTooltip]="nodeList().link.propertyPath">{{nodeList().link.label ? nodeList().link.label :
            '{no label}'}}</span></div>
    @if(!nodeList().link.label) {
    <span style="font-size: 1rem; align-self: center;">&#8594;</span>
    <bp-avatar [avatars]="targetAvatars()" size="normal"></bp-avatar>
    }
</div>
} @else {
<div style="display: flex; flex-direction: row; align-items: center; gap:0.4em; padding-left: 4px">
    <bp-avatar [avatars]="exploredResource().avatars" [selected]="true" size="normal"></bp-avatar>
    <span style="font-size: 1rem; align-self: center;">&#8592;</span>
    <div class="label"><span [pTooltip]="nodeList().link.propertyPath">{{nodeList().link.label ? nodeList().link.label :
            '{no label}'}}</span></div>
    <span style="font-size: 1rem; align-self: center;">&#8213;</span>
    <bp-avatar [avatars]="targetAvatars()" size="normal"></bp-avatar>

</div>
}
@if(showFilter()) {
<p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input type="text" pInputText placeholder="Search" (input)="setFilterTerm($event)" />
</p-iconfield>
}
<div class="node-list">

    @for(node of filteredNodes(); track node.iri) {
    <bp-hierarchy-card [avatars]="node.avatars" [firstLine]="node.label" (click)="emitNodeSelected(node)"
        [secondLine]="node.classLabel.join()"></bp-hierarchy-card>
    }
</div>