<p>We have {{nodeList().nodes.length}} nodes @if(nodeList().isOutgoing){<span>outoing links</span>}@else{<span>incomming
        links</span>}</p>
<p>{{nodeList().link.iri}}</p>
<p>{{nodeList().link.propertyPath}}</p>
<p>is outgoing {{nodeList().isOutgoing}}</p>

@if(showFilter()) {
<p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input type="text" pInputText placeholder="Search" (input)="setFilterTerm($event)" />
</p-iconfield>
}
<div class="node-list">

    @for(node of filteredNodes(); track node.iri) {
    <bp-hierarchy-card [avatars]="node.avatars" [firstLine]="node.label" (click)="emitNodeSelected(node)"
        [secondLine]="node.classLabel.join()"></bp-hierarchy-card>
    }
</div>
<h1>end</h1>