
.node-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1em;
    margin-top: 12px;
    margin-bottom: 64px;
}

.label {
    color: grey;
}


.p-iconfield {
    margin-top: 24px;
}