@if(tableDataSignal() !== null) {
<div class="border border-zinc-200 dark:border-zinc-800 rounded-lg overflow-hidden max-h-[400px] overflow-y-auto">
  <table class="w-full text-left border-collapse">
    <thead>
      <tr class="bg-zinc-50 dark:bg-zinc-900 border-b border-zinc-200 dark:border-zinc-800">
        @for (head of rowsHeaderSignal(); track head) {
        <th class="py-2.5 px-4 font-semibold text-sm text-zinc-600 dark:text-zinc-400">{{head.label}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of tableDataSignal().data; track row) {
      <tr class="border-b border-zinc-100 dark:border-zinc-900 hover:bg-zinc-50 dark:hover:bg-zinc-800/30">
        @for (head of rowsHeaderSignal(); track head) {
        <td class="py-2.5 px-4 text-sm">{{row[head.key]}}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
}