<p style="padding-bottom: 0; margin-bottom: 10px"><strong>Links</strong></p>
@if (links) {
<div class="links">
    @if (links.forward.length > 0) {
<p style="padding-top: 0;margin-top: 0; padding-bottom: 0; margin-bottom: 5px">
        <strong>{{ links.source.label }}</strong> &#10142; <strong>{{ links.target.label }}</strong>
    </p>
}
    @for (link of links.forward; track link) {
  <div>{{ link }}</div>
}
    @if (links.backward.length > 0) {
<p style="padding-top: 0;margin-top: 0;padding-bottom: 0; margin-bottom: 5px">
        <strong>{{ links.target.label }}</strong> &#10142; <strong>{{ links.source.label }}</strong>
    </p>
}
    @for (link of links.backward; track link) {
  <div>{{ link }}</div>
}
</div>
}
