:host {
    display: block;
    border-radius: 6px;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border-radius: inherit;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.settings-button {
    position: absolute;
    top: 35px;
    right: 5px;
}

.config-button {
    position: absolute;
    top: 0px;
    right: 5px;
}