.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
    flex-wrap: wrap;
    margin: 12px;
}

.highlight {
box-shadow: 0 0 8px 2px rgba(0, 123, 255, 0.7);
border-radius: 6px;
}