@if (filterItems?.length > 0) {
<div class="filter-panel">
  <div class="header flex items-center gap-2">
    <i class="fas fa-filter"></i>
    <h2 class="title m-0"> Filter </h2>
  </div>
  <div class="content">
    <div class="filters">
      <div class="all mb-2">
        <mat-checkbox [(ngModel)]="allInclude" (ngModelChange)="toggleAll($event)">All</mat-checkbox>
      </div>
      @for (filter of uiFilterItems(); track filter.iri) {
      <div style="
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 5px;
        " @fade>

        <mat-checkbox class="mr-2" [(ngModel)]="filterItems[$index].include" (ngModelChange)="toggleFilter()"></mat-checkbox>
        <bp-filter-item [icon]="filter.icon" [color]="filter.color" [label]="filter.label"
          [count]="filter.count"></bp-filter-item>
      </div>
      }
    </div>
  </div>
</div>
}