services:
  store:
    image: ghcr.io/zazuko/fuseki-geosparql:v3
    ports:
      - 3030:3030
    environment:
      - ADMIN_PASSWORD=admin
    volumes:
      - ./fuseki/config.ttl:/fuseki/config.ttl:ro
      - ./fuseki/shiro.ini:/opt/fuseki/shiro.ini:ro
      - ./volumes/fuseki/:/fuseki/databases/

  store-data:
    profiles:
      - basic-metadata
    build:
      context: ./fuseki-data/
      dockerfile: Dockerfile
    restart: "no"
    volumes:
      - ./fuseki-data:/app/data:ro

  blueprint:
    image: ghcr.io/zazuko/blueprint:latest
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - 8081:80
    environment:
      # NOTE: 127.0.0.1 is in the context of the browser (frontend), not the server (backend)
      - ENDPOINT_URL=http://127.0.0.1:8080/query
      - SPARQL_CONSOLE_URL=http://127.0.0.1:8080/sparql/#query
      - GRAPH_EXPLORER_URL=http://127.0.0.1:8080/graph-explorer/?resource
      - FULL_TEXT_SEARCH_DIALECT=fuseki

  trifid:
    image: ghcr.io/zazuko/trifid:v5
    ports:
      - 8080:8080
    environment:
      - DATASET_BASE_URL=
      - SPARQL_ENDPOINT_URL=http://store:3030/blueprint/query
      - SPARQL_USERNAME=admin
      - SPARQL_PASSWORD=admin

  # Add k8s demo data (for those who don't have a Kubernetes cluster)
  add-demo-k8s-data:
    profiles:
      - k8s-demo-data
    build:
      context: ./fuseki-data/
      dockerfile: Dockerfile
    restart: "no"
    volumes:
      - ./demo-data/k8s.ttl:/app/data/k8s.ttl:ro

  # Add custom k8s data generated locally (will not be in the git history)
  add-custom-k8s-data:
    profiles:
      - k8s-custom-data
    build:
      context: ./fuseki-data/
      dockerfile: Dockerfile
    restart: "no"
    volumes:
      - ./volumes/k8s-data/data.ttl:/app/data/k8s.ttl:ro

  # Add demo dataset (will not be in the git history)
  add-demo-dataset:
    profiles:
      - full-demo-dataset
    build:
      context: ./fuseki-data/
      dockerfile: Dockerfile
    restart: "no"
    environment:
      - DOWNLOAD_URL=https://download.zazukoians.org/blueprint/demo-data.nt
      - DOWNLOAD_NAME=demo-dataset.nt
