<!-- set with and hight to svgHeight and svgWidth-->
<div class="graph-component" [style.width.px]="svgWidthSignal()" [style.height.px]="svgHeightSignal()">

  <!-- the graph svg -->
  <svg [attr.width]="svgWidthSignal()" [attr.height]="svgHeightSignal()"
    [attr.viewBox]="'0 0 ' + svgWidthSignal() + ' ' + svgHeightSignal()" xmlns="http://www.w3.org/2000/svg"
    xmlns:xhtml="http://www.w3.org/1999/xhtml" class="graph-panel">
    <g [attr.transform]="'translate(' + xOffset() + ', ' + yOffset() + ')'">
      <g class="zoomable">
        <!-- links -->
        <g class="link-layer">
          @for(link of linksSignal(); track link.iri) {
          <g bp-arrow [x1]="link.source.x" [y1]="link.source.y" [x2]="link.target.x" [y2]="link.target.y" [link]="link"
            (click)="onLinkSelected(link)"></g>
          }
        </g>
        <!-- nodes -->
        <g class="node-layer">
          @for(node of nodesSignal(); track node.iri) {
          <g bp-node fluxDraggable [node]="node" [disableMenu]="disableNodeMenu()" [color]="node.color"
            [isSelected]="node.id === selectedNodeId()" (dragStartEvent)="dragStart($event, node)"
            (dragEvent)="drag($event, node)" (dragEndEvent)="dragEnd($event, node)"
            (nodeSelected)="emitNodeSelected($event)" (nodeExpanded)="emitNodeExpanded($event)"
            (nodeFocused)="emitNodeFocused($event)"></g>
          }
        </g>

      </g>
    </g>
  </svg>

  @if(!disableZoomMenu()) {
  <div class="tool-bar">

    <!-- the zoom menu -->

    <p-button icon="pi pi-search-plus" [rounded]="true" [outlined]="true" aria-label="Zoom in"
      (click)="zoomInOneStep()" />

    <p-button icon="pi pi-search-minus" [rounded]="true" [outlined]="true" aria-label="Zoom out"
      (click)="zoomOutOneStep()" />

    <!-- end zoom menu -->
  </div>
  }

</div>