@use '../../../../styles/media-queries' as mq;

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--quaternary-contrast);
    gap: 15px;
}