p {
    color: var(--quaternary-contrast);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

a {
    text-decoration: none;
}