@if(parentItem() !== null) {
<div style="background-color: lightpink;" [cdkMenuTriggerFor]="parentMiniMenu" [cdkMenuPosition]="miniMenuPositions"
    aria-label="Open parent">
    {{parentItem().label}}</div>

}<!--  (cdkMenuClosed)="closeMenu()" (cdkMenuOpened)="openMenu('parentMenu')"  -->
@if(selectedItem() === null) {
@for( t of tree.children; track t.iri) {
<div (click)="openItem(t)">{{t.label}}</div>
}
}

@if(selectedItem() !== null) {
<flux-tree-walker [tree]="selectedItem()" />
}

<ng-template #parentMiniMenu>
    <div style="background-color: white; display: flex; flex-direction: column;">
        @for( t of tree.children; track t.iri) {
        <div>{{t.label}}</div>
        }
    </div>

</ng-template>