@use '../../../../../styles/media-queries.scss' as mq;

$color-transition: color 0.3s ease;
$color: var(--quaternary-contrast);

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color;
    gap: 15px;


    i {
        color: light-dark(oklch(0.5484 0.023 304.99), oklch(0.709 0.015 304.04));
        transition: $color-transition;
    }

    .label {
        font-size: 13px;
        color: light-dark(oklch(0.5484 0.023 304.99), oklch(0.709 0.015 304.04));
        transition: $color-transition;
        font-weight: 400;

    }

    @include mq.for-tablet {
        flex-direction: row;
        gap: 10px;



    }

    @include mq.for-phone-only {
        width: 100%;
        max-width: 100%;
    }

}


.item:hover {
    i {
        color: light-dark(black, white);
    }

    .label {
        color: light-dark(black, white);
    }

    transition: $color-transition;
    cursor: pointer;
}



.active {
    i {
        color: light-dark(black, white) !important;
    }

    .label {
        color: light-dark(black, white) !important;
    }
}