<bp-breadcrumb-page [breadcrumbs]="breadcrumbs">
    <h1>Details for Classes</h1>
    <p>Detail configuration is the configurations show when exploring a Resource.</p>
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" style="width: 200px;" class="p-inputtext-sm" placeholder="Filter" #filterTermField pInputText
            [ngModel]="filterTermSignal()" (ngModelChange)="filterTermSignal.set(filterTermField.value)" />
    </span>

    <br>


    <div class="grid-container">
        @for(c of filteredUiClassMetadataSignal(); track c.iri) {
        <a [routerLink]="['detail', c.label, c.targetNode.value,]">
            <bp-configuration-card [firstLine]="c.label" [icon]="c.icon" />
        </a>
        }
    </div>
</bp-breadcrumb-page>