.label {
    color: grey ;
}

.literal {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.literal-view {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 24px;
}

.language {
    font-size: 9px;
    color: grey ;

}