line {
  stroke: light-dark(rgb(17, 24, 39), rgb(249, 250, 251));
  stroke-opacity: 0.6;
}

path {
  stroke: light-dark(rgb(17, 24, 39), rgb(249, 250, 251));

  fill: light-dark(rgb(17, 24, 39), rgb(249, 250, 251));

  stroke-opacity: 0.6;
}

.noFill {
  fill: none;
}

.noStroke {
  stroke: none;
}

text {
  fill: light-dark(rgb(17, 24, 39), rgb(249, 250, 251));
}

.link {
  cursor: pointer;
}

.selected {
  fill:  var(--p-tabs-tab-active-color);;
  stroke: var(--p-tabs-tab-active-color);
  filter: drop-shadow(0 0 8px var(--p-tabs-tab-active-color));
  stroke-opacity: 0.5;
  }