// variable for icon size
$icon-size: 48px;
$card-width: 200px;

$card-padding: 12px;


.card {
    border: 1px solid var(--p-content-border-color);
    color: var(--p-text-color);
    border-radius: var(--p-border-radius-md);

    width: $card-width;
    max-width: $card-width;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .head {
        border-bottom: 1px solid var(--p-content-border-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;

    }

    i {
        font-size: $icon-size;
        width: auto;
        height: $icon-size;
        //  color: hsla(339, 100%, 55%, 1);

        background: #FC466B;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3F5EFB, #FC466B);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: $card-padding;

        .small {
            font-size: 13px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            max-width: $card-width - 2 * $card-padding;
            color: var(--quaternary-contrast)
        }

        .big {
            font-size: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            max-width: $card-width - 2 * $card-padding;
        }
    }
}

.card:hover {
    cursor: pointer;
    background-color: var(--p-content-hover-background);

    .head {
        background-color: var(--p-content-hover-background);
    }
}